IFRAME{
    width: 100%;
    height: 200px;
    border: 5px ridge orange;
    background: rgba(255, 255, 0, 0.8);
    margin-right: 2px;
    margin-left: -5px;
}
BODY{
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}
H1{
    color: darkgreen;
    border: 6px ridge darkblue;
    background: rgba(255, 255, 0, 0.8);
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20px;
}
IMG{
    margin: 0 auto;
    margin-top: 20px;
    border: 6px ridge green;
    padding: 10px;
    background: white;
    font-size: 23px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
}
p{
	text-align: center;
	font-weight: bold;
    border: 3px ridge darkviolet;
    background: rgba(60, 255, 0, 0.8);
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
	margin-top: 50px;
	padding: 5px;
}
